body {
    height: 1000px;
    background: linear-gradient(to top, #0372b3f6 5%, #01000a 90%);
    color: #8691a3fb;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

@media (max-width:1200px){
    .container{
        max-width: 970px;
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }
}

@media (max-width:767px){
    .container{
        max-width: 400px;
    } 
}


/* главный слот, содержит в себе инпут */
.mainInput {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* главный инпут */
.input {
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    border-radius: 7px;
}

/* главная панель */  
.mainInterface {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/* сторонная панель */
.saideInterface {
    margin-left: 15px;
    display: flex;
    align-items: baseline;
}

/* заголовок */
.title {
    display: flex;
    justify-content: center;
}

/* список ToDO */
.todoList {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* ToDO */
.todoElement {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    padding: 10px;
    margin-bottom: 3px;
    margin-top: 5px;
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    border-radius: 10px;
}


/* внутри элемента */
.inElement {
    display: flex;
    margin-left: 8px;
    column-gap: 5px;
}

/* содержимое элемента */
.text {
    display: flex;
    justify-content:space-between;
}

/* стрелки для сортировки */
.arrows {
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    border-radius: 7px;
}

.arrows:focus {
    width: 30px;
    height: 20px;
    cursor: pointer;
    color: black;
    background-color: rgb(3, 127, 158);;
}

/* основные кнопки */
.buttons {
    color: rgb(0, 204, 255);
    color: rgb(3, 127, 158);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    border-radius: 7px;
    cursor: pointer;
}

.buttons:focus {
    border-radius: 7px;
    color: black;
    background-color: rgb(3, 127, 158);;
    cursor: pointer;
}

/* кнопка выполнить */
.buttonComplete {
    background-color: greenyellow;
    color: black;
    font-family: "Font Awesome 5 Free";
    font-size: 13px;
    border-radius: 10px;
    margin-right: 8px;
    cursor: pointer;
}



/* кнопка удалить */
.buttonDelete {
    background-color: crimson;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

/* главный выбор страниц */
.mainSelect {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

/* сами страницы */
.select {
    margin-top: 10px;
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-radius: 7px;
    width: 25px;
    height: 20px;
}

.select:focus {
    margin-top: 10px;
    border-radius: 7px;
    color: black;
    background-color: rgb(3, 127, 158);;
    width: 25px;
    height: 20px;
}

/* стрелки выбора страниц */
.selectArrow {
    margin-top: 10px;
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-radius: 7px;
    width: 25px;
    height: 20px;
}

.selectArrow:focus {
    margin-top: 10px;
    color: black;
    background-color: rgb(3, 127, 158);;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-radius: 7px;
    width: 25px;
    height: 20px;
}

 /* input в Todo   */
.sideInput {
    color: rgb(0, 204, 255);
    background-color: black;
    border: 2px solid rgb(2, 25, 68);
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    border-radius: 7px;
}

.inSelect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
